<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<div class="list">
    <ul>
        {{each nameList}}
        <li>id：{{$value.id}};姓名：{{$value.name}} </li>
        {{/each}}
    </ul>

    <ul>
        {{each dishes}}
        <li>name: {{$value.name}}</li>
        {{/each}}
    </ul>

    <table>
        <tr>
            <th>name</th>
            <th>image</th>
            <th>category</th>
            <th>label</th>
            <th>price</th>
        </tr>

        {{each dishes}}
        <tr>
            <td>{{$value.name}}</td>
            <td>{{$value.image}}</td>
            <td>{{$value.category}}</td>
            <td>{{$value.price}}</td>
        </tr>
        {{/each}}
    </table>


    <form action="/saveimg/" method="post" enctype="multipart/form-data">
        <input type="file" name="file1" />
        <button type="submit">submit</button>
    </form>

</div>

<body>

</body>

</html>