<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>

<div class="list">
    <ul>
        {{each nameList}}
        <li>id：{{$value.id}};姓名：{{$value.name}} </li>
        {{/each}}
    </ul>

    <ul>
        {{each dishes}}
        <li>name: {{$value.name}}</li>
        {{/each}}
    </ul>

    <table>
        <tr>
            <th>name</th>
            <th>image</th>
            <th>category</th>
            <th>label</th>
            <th>price</th>
        </tr>

        {{each dishes}}
        <tr>
            <td>{{$value.name}}</td>
            <td>{{$value.image}}</td>
            <td>{{$value.category}}</td>
            <td>{{$value.price}}</td>
        </tr>
        {{/each}}
    </table>

</div>

<body>

</body>

</html>